:root{
    --pC: hsl(185, 100%, 51%);
    --primaryHover : hsl(185,92%,41%);
    --secondaryColor : rgb(150,162,188);
    --paragrapthColor : rgb(127,127,175);
    --BgColor :  #031a30;
    --formColor : rgb(2,15,29);
    --projectCardColor : #072340;
    --textColor : #dae4fb;
    --headerHeight : 3rem;
}

.Footer{
    width: 100%;
    text-align: center;
    background: var(--projectCardColor);
    margin-top: 1rem;
    padding: 1rem 0;

    span{
        text-align: center;
        color: var(--secondaryColor);
        opacity: .5;
        font-size: 15px;
    }
}